name: Publish to GHCR

on:
  push:
    branches: [ main, master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set image tag
        id: vars
        run: |
          VERSION=v${{ github.run_number }}
          echo "version_tag=$VERSION" >> $GITHUB_OUTPUT

      - name: Build and Push (with cache)
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/arm64
          push: true
          tags: |
            ghcr.io/${{ github.repository }}/docker-app:latest
            ghcr.io/${{ github.repository }}/docker-app:${{ steps.vars.outputs.version_tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
